
{% extends 'base.html' %}
{% load static %}
{% block content %} <!-- Instructing the template to load the static files-->

<!-- The django template code to show all products in the page starts here -->

<div class="
" id="card-collection">
  {% for product in prods %}
  <div class="card" style="width: 15rem;">
    {% if product.pic %}
    <img src="{{ product.pic.url }}" class="card-img-top" alt="...">
    {% else %}
    no picture
    {% endif %}
    <div class="card-body">
      <a href="{% url 'prod_details' product.id %}">
        
        <h5 class="card-title">{{ product.name }}</h5>
      </a>
    
      <p class="card-text">{{ product.desc }}</p>
      <p class="card-text" id="price">&#8377;{{ product.price }}</p>
      <a href="{% url 'add_to_cart' product.pk %}" ><button class="btn btn-primary"> Add to cart</button></a>
    </div>
  </div>
  {% endfor %}
</div>
<!-- Django template code ends here -->

{% endblock %}