* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Styling for Base.html  */

header {


    .container-fluid {
        /* background-color: rgb(109, 163, 29); */
        background-color: black;
        position: absolute;
        height: 170px;
        z-index: 2;



        .navbar-brand {

            color: white;
            font-family: "Mea Culpa", cursive;
            font-weight: 500;
            font-style: normal;
            margin-top: 55px;
            font-size: 1.60rem;
        }

        .collapse {

            /* display: flex;
            justify-content: center; */
        }

        .nav-link {

            color: white;
            /* font-size: 1.20rem; */
            font-size: 0.65rem;
            font-weight: 900;
            margin-top: 65px;
            margin-left: 5px;
            margin-right: 5px;
            font-family: "Josefin Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;

        }


        .nav-link:hover {

            /* text-decoration: line-through; */
            border-bottom: 3px solid white;
            transition-duration: 2s;
        }



        /* search icon */


        #search {

            margin-top: 55px;
            height: 25px;
            width: 300px;

            input {

                font-size: 0.80rem;
                font-family: "Josefin Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: weight;
                font-style: normal;
                font-weight: 900;
            }

            button {

                border: none;
                color: white;
                font-size: 0.90rem;
                font-weight: 700;
                margin-top: -10px;
            }
        }


    }

}


body {
    /* background-color:rgb(10, 10, 10); */


    /* Styling for Home page */

    #bg_image {

        background-image: url(../images/Thanos_vs_trio1.jpg);
        height: 90vh;
        background-size: cover;
    }

    /* .background-video {


        .back-video {

            height: 100vh;
            width: 110vw;
            object-fit: cover;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;

        }
    } */





    main {


        width: 100%;
        margin: auto;
        margin-top: 51px;
        margin-bottom: 20px;



        .carousel {
            height: 300px;
            width: 100%;

            .carousel-inner {
                overflow: hidden;
                height: 100%;

                .carousel-item {
                    height: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        background-color: black;
                    }
                }
            }
        }






        /* Styling for products page */



        .Product_section {

            background-color: rgb(195, 178, 178);
        }

        #card-collection {
            max-width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            column-gap: 20px;

            div.card {

                margin-top: 50px;
                max-width: 250px;
                height: 360px;
                border-radius: 10px;
                border: 1px solid;
                overflow: hidden;
                transition-duration: 1s;


                img {
                    object-fit: cover;
                    height: 75%;
                    padding: 8px;
                    filter: saturate(0%);
                    transition-duration: 2s;

                }

                .card-body {
                    height: 35%;
                    position: relative;
                    color: black;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-style: italic;

                    button {


                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        font-size: 1.50rem;
                        /* font-weight: 600; */
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        left: 40%;
                        bottom: 15px;
                        background-color: black;
                    }

                    button:hover {
                        background-color: rgb(27, 172, 44);
                        color: white;
                        transition-duration: 30ms;
                    }

                    a {
                        text-decoration: none;
                    }

                    .card-title {

                        color: black;
                        font-size: 0.95rem;
                        font-weight: 900;
                        font-family: "Josefin Sans", sans-serif;
                        font-optical-sizing: auto;
                        font-weight: weight;
                        font-style: normal;



                    }



                    #price {

                        font-weight: 700;
                        font-size: 0.80rem;
                        bottom: 40px;

                    }
                }
            }


        }

        .card:hover {

            box-shadow: 2px 2px 2px 2px;
            transition-duration: 1s;
            margin-top: -1%;

            img {
                filter: saturate(normal);
                transform: scale(1.1);
                transition-duration: 3s;
                object-fit: cover;
            }
        }

        /* Product details page */

        div.container-fluid {
            .row {
                .col {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;

                    .img {
                        width: 100%;
                        background-color: black;

                        img {
                            width: 100%;
                            aspect-ratio: 1/1;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }






    /* Styling for View cart page */





    .cart_section {

        margin-top: 120px;
    }


    .table {

        border: 10px solid black;


        thead {

            border: 2px solid;
            height: 60px;

        }

        th {
            font-size: 0.86rem;
            color: white;
            background-color: black;
        }


        td {
            font-size: 0.86rem;
            font-weight: 700;


            a {

                font-size: 0.86rem;
                font-weight: 700;

            }


            .row {

                button {

                    border: none;
                    font-weight: 800;
                    color: black;
                }
            }
        }
    }



    .emptycart {

        text-align: center;
        font-size: 8rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 700;
        margin-top: 15px;

        small {

            font-size: 5rem;
            display: block;
        }
    }


    #shopmore {

        margin-top: 100px;
        font-size: 1.20rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


    }




    /* Styling for Login & Registration forms */

    .form-div {

        margin-top: 120px;
        font-size: 0.90rem;
    }






    /* Orders */

    /* Styling for Order History */

    h1 {

        margin-top: 120px;
        font-size: 2rem;
        font-weight: 800;
    }


}